footer {
    background-color: white;
    position: relative;
    bottom: -300px;
    height: 60px;
    width: 100%;
    border-top-style: solid;
    border-top-color: #CCCCCC;
    border-top-width: 1px;
    justify-content: center;
}
.foot_div {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}