header {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left 20px center;
    background-color: white;
    top: 0;
    height: 70px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
}