.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 11px 30px;
}

button:hover {
    opacity: 90%;
}

.locations{
    height: 100%;
    width: 25%;
    float: left;
    border-right: 1px solid #DDDDDD;
    padding-left: 50px;
}

.amenities{
    height: 100%;
    width: 25%;
    float: left;
    padding-left: 50px;
}

div h3 {
    font-weight: 600;
    line-height: 10px;
}

div h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -7px;
}